body {
    font-family: "DM Sans", sans-serif;
    margin: auto;
}

#main{
    margin-bottom: 50px;/*Permet que le compteur, ne cache pas le texte d'une image: en bas de page*/
}

#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 320px;
    margin: 0 100px;
    display: flex;
    align-items: center;
    margin-top: 16px; /*Changment*/
}

.contact{
 align-items: center;
 padding-top: 35px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

/* .contact_button:hover {

    background-color: #DB8876;

} */

.contact_button:focus,.contact_button:hover {

    background-color: #DB8876;

}

.modal {
    position: absolute;
    left: 26.5%;
    top: 4%;
    border-radius: 5px;
    background-color: #DB8876;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h1 {
    font-size: 64px;
    font-weight: normal;
    margin: 0px;
    margin-top: -25px;
    color:black;
}

form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.form_tri{
    width: 0%;
    margin-left: 30px;
}



#selector{
    display: flex;
    align-items: center;
    /* margin-left: 30px; */
    justify-content:space-around;
    background-color: #901C1C;
    color: white;
    font-weight: bold;
    width: 11.5vw;
        height: 4.5vw;
        border-radius: 5px;
}

#menu{
    list-style-type: none;
    display: flex;
    width: 10vw;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    background-color: #901C1C;
    border-radius: 5px;
    padding: 0px 10px 0px 10px;
    margin-bottom: -119px;/*Permet d'afficher le menu sur l'image ou la video du dessous*/
    z-index: 1;/*Permet d'afficher le menu sur l'image ou la video du dessous*/
}

#menu li{
    display: flex;
    align-items: center;
    border-bottom: white solid 1px;
    /* width: 11.5vw; */
    height: 4.5vw;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    font-weight: bold;
    /* border-bottom: white;
    border-width: 2px; */
}

#option{
    display: flex;
    justify-content: space-between;
}


form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
    margin-top: 65px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

.photo{
    align-items: flex-end;
    padding-right: 80px;
}

.photo img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 95px;
}

.name h1{
    color: #D3573C;
    font-size: 64px;
    margin: 0px;
    white-space: nowrap;
}

.colonne{
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

.Places2 {
    font-size: 25px;
    color: #901C1C;
    font-weight: bold;
}

.Tagline2 {
    font-size: 18.3px;
    padding-top: 20px;
    white-space: nowrap;
}

.textarea-control{
    width: 100%;
    height: 11.7vw;
}

.tri{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
}

.tri p{
    font-weight: bold;
    margin-top: 20px;
    font-size: 18.4px;
    margin-right: 30px;
}

.select_tri{
    width: 11.5vw;
    height: 4.5vw;
}

.all_medias {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
}

.My_medias {
    width: 28%;
    display: flex;
    flex-direction: column;
}

.My_medias img {
    width: 100%;
    height: 20.5vw;
    object-fit: cover;
    border-radius: 10px;
}

.My_medias video{
    height: 20.5vw;
    border-radius: 10px;
    object-fit: cover;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.mylike{
    display: flex;
    font-weight: bold;
    color:#901C1C;
}

.mylike p{
    margin-right: 15px;
}

.namePhoto p{
    font-size: 24px;
    font-weight: bold;
    color:#901C1C;
}

.mylike .fa-heart{
    font-size: 20px;
    color:#901C1C;
}

#modal_lightbox {
    display: flex;
    position: fixed;
    top: 5%;
    left: 12%;
    border-radius: 5px;
}



#modal_lightbox .middle {
    display: flex;
    flex-direction: column;
    width: 72vw;
}

#modal_lightbox .right{
    display: flex;
    flex-direction: column;
}

.right .fa-xmark{
    margin-bottom: 225px;
    font-size: 35px;
    margin-left: 15px;
    font-weight: bold;
    color:#901C1C;
}

.right .fa-angle-right{
    margin-left: 15px;
}

.left .fa-angle-left{
    margin-right: 15px;
    margin-top: 260px;
}

.imgLightbox {
    height: 40vw;
    border-radius: 10px;
    object-fit: cover;
}

.videoLightbox {
    height: 40vw;
    width: initial;
    border-radius: 10px;
}

.fa-angle-right{
    font-size: 40px;
    color:#901C1C;
}

.fa-angle-left{
    font-size: 40px;
    color:#901C1C;
}

.white-screen{
    position:initial;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-color: white;
}

.title{
    margin-top: 8px;
    color:#901C1C;
}

#total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    /* z-index: 99; */
    /* top: 0px; */
    bottom: 0px;
    right: 55px;
    width: 380px;
    width: 26vw;
    height: 4.5vw;
    /* border: 1px solid red; */
    background-color: #DB8876;
    border-radius: 10px 10px 0 0;
}

.div-total{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-left: 30px;
    font-weight: bold;
}

.div-total .fa-heart{
    margin-left: 5px;
    font-size: 18.6px;
}

.argent-jour{
    margin-right: 30px;
    font-size: 20px;
    font-weight: bold;
}